global:
  scrape_interval: 15s # Default scrape interval

scrape_configs:
  # - job_name: 'prometheus'
  #   static_configs:
  #     - targets: ['localhost:9090']

  - job_name: 'coreapi-dev'
    metrics_path: /metrics
    scheme: https
    static_configs:
      - targets: ['dev.core.msbureau.com']
  - job_name: 'coreapi-prod'
    metrics_path: /metrics
    scheme: https
    static_configs:
      - targets: ['core.api.msbureau.com']
  - job_name: 'coreapi-prod-vegas'
    metrics_path: /metrics
    scheme: https
    static_configs:
      - targets: ['core.api.vegascollect.com']

  - job_name: supabase-__SUPABASE_PROJECT_REF__
    scheme: https
    metrics_path: "/customer/v1/privileged/metrics"
    params:
      supabase_grafana: ["true"]
    basic_auth:
      username: service_role
      password: __SUPABASE_SERVICE_ROLE_KEY__
    static_configs:
      - targets: ["__SUPABASE_PROJECT_REF__.supabase.co"]
  #  ? TODO: add your services here
  # - job_name: 'your-job-name'
  #   scheme: https
  #   static_configs:
  #     - targets: ['URL_GOES_HERE']
  #   basic_auth:
  #     username: HTTP_AUTH_USERNAME_GOES_HERE
  #     password: HTTP_AUTH_PASSWORD_GOES_HERE